body {
    margin: 0;
}

.cabecalho {
    background: white;
    color: white;
    padding: 0 20px;
    height: 100%;
    font-size: 20px;
    margin: 0 auto;
}

h1 {
    margin: 0;
}

.posicao_mensagem {
    position: relative;
    top: -50px;
    left: 250px;
}

.posicao_img_baggeto {
    position: relative;
    top: 0px;
    left: 250px;
}

#div_agilidade {
    position: relative;
    width: 326px;
    height: 270px;
    background-color: #116089;
    top: -274px;
    left: 174px;
    opacity: 0.6;
}

#div_seguranca {
    position: relative;
    width: 326px;
    height: 270px;
    background-color: darkred;
    top: -544px;
    left: 500px;
    opacity: 0.6;
}

#div_confianca {
    position: relative;
    width: 326px;
    height: 270px;
    background-color: #116089;
    top: -814px;
    left: 826px;
    opacity: 0.6;
}

.agilidade {
    position: relative;
    color: white;
    top: -1000px;
    left: 250px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.seguranca {
    position: relative;
    color: white;
    top: -1066px;
    left: 565px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.confianca {
    position: relative;
    color: white;
    top: -1128px;
    left: 900px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}