body {
    margin: 0;
}

.cabecalho {
    background: white;
    color: white;
    padding: 0 20px;
    height: 100%;
    font-size: 20px;
}

h1 {
    margin: 0;
}

.posicao_mensagem {
    position: relative;
    top: -50px;
    left: 250px;
}

.posicao_img_baggeto {
    position: relative;
    top: 0px;
    left: 250px;
}