.titulo_azul {
    color: #116089;
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.posicao_img {
    position: relative;
    top: 40px;
    left: 200px;
}

.posicao_img2 {
    position: relative;
    top: -347px;
    left: 965px;
}

.posicao_img3 {
    position: relative;
    top: -230px;
    left: 200px;
}

.posicao_img4 {
    position: relative;
    top: -442px;
    left: 550px;
}

.posicao_img5 {
    position: relative;
    top: -654px;
    left: 892px;
}

.posicao_img6 {
    position: relative;
    top: -500px;
    left: 200px;
}

.posicao_img7 {
    position: relative;
    top: -500px;
    left: 200px;
}

.posicao_img8 {
    position: relative;
    top: -500px;
    left: 200px;
}

.posicao_img9 {
    position: relative;
    top: -500px;
    left: 200px;
}

.posicao_img_sassmaq {
    position: relative;
    top: -500px;
    left: 200px;
}

.posicao_img_certificado_sassmaq {
    position: relative;
    top: -662px;
    left: 450px;
}

.posicao_img_despoluir {
    position: relative;
    top: -820px;
    left: 890px;
}

.posicao_img10 {
    position: relative;
    top: -500px;
    left: 200px;
}

.posicao_texto1 {
    position: relative;
    top: -135px;
    left: 450px;
}

.paragrafo1 {
    width: 500px;
    font-family: sans-serif;
    text-align: justify;
    text-indent: 50px;
}

.posicao_texto2 {
    position: relative;
    text-indent: 50px;
    top: -275px;
    left: 200px;
}

.paragrafo2 {
    width: 1000px;
    font-family: sans-serif;
    text-align: justify;
}

.posicao_texto_negocio {
    position: relative;
    top: -605px;
    left: 500px;
}

.posicao_texto_missao {
    position: relative;
    top: -605px;
    left: 500px;
}

.posicao_texto_visao {
    position: relative;
    top: -605px;
    left: 500px;
}

.posicao_texto_frota {
    position: relative;
    top: -605px;
    left: 500px;
}

.posicao_texto_valores {
    position: relative;
    width: 700px;
    top: -670px;
    left: 500px;
    text-align: justify;
}