* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea, input[type=date] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 0px;
    background-color: white;
    padding: 20px;
  }

  .container_2 {
    border-radius: 15px;
    background-color: #005b7f;
    padding: 40px;
    
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

label{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input{
    color: #b11116;
}

textarea{
    color: #b11116;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color:lightblue;
}

.botao{

    font-weight: bold;
    padding: 5px;
    float: left;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-top-color: #005b7f;
    border-right-color: #005b7f;
    border-bottom-color: #005b7f;
    border-left-color: #005b7f;
    color: #005b7f;
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
    font-size: 17px;
    
}
.botao:hover{
    
    color: white;
    background-color: #b11116;
    border-top-color: #b11116;
    border-right-color: #b11116;
    border-bottom-color: #b11116;
    border-left-color: #b11116;
           
}

.botao:focus{
    outline: none;
    box-shadow: none;
}

form{

    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px 10px 10px;
    
    }

    #logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }
    
    #logo div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 30px;
    }

    #empresa {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
      }
      
      #empresa div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        margin-top: 0px;
      }  

      h1{
        
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 22px;
    }

    @media screen and (min-width: 768px) {

        #logo {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            max-width: 1000px;
            margin: 0 auto;
        }
        #logo h2 {
            text-align: center;
            width: 100%;
        }
        #logo div {
            flex-grow: 1;
            flex-basis: 150px;
            padding: 0 10px;
        }

        #empresa {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            max-width: 1000px;
            margin: 0 auto;
          }
            
          #empresa div {
            flex-grow: 1;
            flex-basis: 150px;
            padding: 0 0px;
          }
    }