    .titulo_azul {
        color: #005b7f;
        font-size: 45px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
    }

    .linha-vertical {
      height: 200px;/*Altura da linha*/
      border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    }

    .titulo_azul_menor {
      color: #005b7f;
      font-size: 25px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
  }

    .galeria{
        margin: 10px 50px;
    }

    .galeria img{
        width: 230px;
        padding: 5px;
        transition: 1s;
    }

    .galeria img:hover{
        filter: grayscale(0);
        transform: scale(1.1);
    }

    p{
        text-align: justify;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    button{
        position: absolute;
        top:5%;
        left:65%;
        width: 120px;
        height: 30px;
        cursor: pointer;
    }

    .botao{

        font-weight: bold;
        padding: 5px;
        float: left;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-bottom-style: solid;
        border-top-color: #005b7f;
        border-right-color: #005b7f;
        border-bottom-color: #005b7f;
        border-left-color: #005b7f;
        color: #005b7f;
        margin-left: 20px;
        border-radius: 10px 10px 10px 10px;
        font-size: 17px;
        
    }
    .botao:hover{
        
        color: white;
        background-color: #b11116;
        border-top-color: #b11116;
        border-right-color: #b11116;
        border-bottom-color: #b11116;
        border-left-color: #b11116;
               
    }

    .botao:focus{
        outline: none;
        box-shadow: none;
    }

    .div_filial{
        width: 300px;
        height: 300px;
        text-align: justify;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .text_ident{
        text-indent: 3.5em;
    }

    video{
        width: 500px;
        height: 280px;
    }

    h1{
        
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 22px;
    }

    h3{
        
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    h4{
        
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .alinha_no_centro{
        text-align: center;
    }

    #menu {
        display: block;
        text-align: center;
    }
    
    #menu ul {
        padding: 0px;
        margin: 0px;
        background-color: #005b7f;
        list-style: none;
    }
    
    #menu ul li {
        font-size: 17px;
        display: inline;
        transition: background-color 1s;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    #menu ul li a {
        padding: 1px 40px;
        display: inline-block;

        /* visual do link */

        background-color: #005b7f;
        color: white;
        text-decoration: none;
        border-bottom: 20px solid #005b7f;
    }
    
    #menu li:hover a {
        color: #b11116;
        text-decoration: none;
    }
    
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: #FFFFFF;
        text-align: center;
        padding: 20px;
    }
    
    header h1 {
        margin-top: 80px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #005b7f;
    }

    footer {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: white;
        text-align: center;
        padding: 20px;
        
    }
    
    #logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }
    
    #logo div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 30px;
    }

    #empresa {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
      }
      
      #empresa div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        margin-top: 0px;
      }  


      body {
        font-family: Verdana, sans-serif;
        margin: 0;
      }
      
      * {
        box-sizing: border-box;
      }
      
      .row > .column {
        padding: 0 8px;
      }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      .column {
        float: left;
        width: 25%;
      }
      
      /* The Modal (background) */
      .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: black;
      }
      
      /* Modal Content */
      .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        width: 20%;
        max-width: 1200px;
      }
      
      /* The Close Button */
      .close {
        color: white;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
      }
      
      .mySlides {
        display: none;
      }
      
      .cursor {
        cursor: pointer;
      }
      
      /* Next & previous buttons */
      .prev,
      .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
      }
      
      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover,
      .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
      
      /* Number text (1/3 etc) */
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      
      img {
        margin-bottom: -4px;
      }
      
      .caption-container {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
      }
      
      .demo {
        opacity: 0.6;
      }
      
      .active,
      .demo:hover {
        opacity: 1;
      }
      
      img.hover-shadow {
        transition: 0.3s;
      }
      
      .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      
    @media screen and (min-width: 768px) {

        #logo {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            max-width: 1000px;
            margin: 0 auto;
        }
        #logo h2 {
            text-align: center;
            width: 100%;
        }
        #logo div {
            flex-grow: 1;
            flex-basis: 150px;
            padding: 0 10px;
        }

        #empresa {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            max-width: 1000px;
            margin: 0 auto;
          }
            
          #empresa div {
            flex-grow: 1;
            flex-basis: 150px;
            padding: 0 0px;
          }

    }
        