    .titulo_azul {
        color: #116089;
        font-size: 45px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
    }
    
    p{
        text-align: justify;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .div_filial{
        width: 300px;
        height: 300px;
        text-align: justify;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .text_ident{
        text-indent: 3.5em;
    }

    video{
        width: 500px;
        height: 280px;
    }

    h3{
        
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    h4{
        
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .alinha_no_centro{
        text-align: center;
    }

    .opacidade_fundo_servicos{
        opacity: 0.1;
    }

    #menu {
        display: block;
        text-align: center;
    }
    
    #menu ul {
        padding: 0px;
        margin: 0px;
        background-color: #F2F2F2;
        list-style: none;
    }
    
    #menu ul li {
        display: inline;
        transition: background-color 1s;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    #menu ul li a {
        padding: 2px 30px;
        display: inline-block;
        /* visual do link */
        background-color: #F2F2F2;
        color: dimgrey;
        text-decoration: none;
        border-bottom: 20px solid #F2F2F2;
    }
    
    #menu li:hover a {
        color: #116089;
        text-decoration: none;
    }
    
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* <--:background-image: url("../img/teste/camera.jpg"); */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: #FFFFFF;
        text-align: center;
        padding: 20px;
    }
    
    header h1 {
        margin-top: 80px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #116089;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        /*background-image: url("../img/solucoes/fundo_solucoes.png");*/
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
        text-align: center;
        padding: 20px;
    }
    
    footer p {
        color: #116089;
        margin-top: 80px;
    }

    
    #logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }
    
    #logo div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 30px;
    }

    #empresa {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
      }
      
      #empresa div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        margin-top: 0px;
      }  

    @media screen and (min-width: 768px) {

        #logo {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            max-width: 1000px;
            margin: 0 auto;
        }
        #logo h2 {
            text-align: center;
            width: 100%;
        }
        #logo div {
            flex-grow: 1;
            flex-basis: 150px;
            padding: 0 10px;
        }

        #empresa {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            max-width: 1000px;
            margin: 0 auto;
          }
            
          #empresa div {
            flex-grow: 1;
            flex-basis: 150px;
            padding: 0 0px;
          }

    }
        