    .titulo_azul {
        color: #005b7f;
        font-size: 45px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
    }

    .gallery {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 90%;
        max-height: 28vw;
        overflow: hidden;
      }
      
      .gallery__stream {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 100%;
      }
      
      .gallery__item {
        position: absolute;
        width: 50%;
        height: 100%;
        transition: 1s all ease;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 5px;
      }

      .gallery__item:nth-child(1) {
        left: 0;
        z-index: 1;
        transform: translateX(-100%) scale(.8);
      }
      
      .gallery__item:nth-child(2) {
        left: 0;
        z-index: 2;
        transform: translateX(-50%) scale(.8);
      }
      
      .gallery__item:nth-child(3) {
        left: 50%;
        z-index: 4;
        transform: translateX(-50%) scale(1);
      }
      
      .gallery__item:nth-child(4) {
        left: 100%;
        z-index: 2;
        transform: translateX(-50%) scale(.8);
      }
      
      .gallery__item:nth-child(n+5) {
        left: 100%;
        z-index: 1;
        transform: scale(.8);
      }

      .bg-1 {
        background-image: url(../img/seminovos/v8/v8.jpg);
      }
      
      .bg-2 {
        background-image: url(../img/seminovos/v8/v8-2.jpg);
      }
      
      .bg-3 {
        background-image: url(../img/seminovos/v8/v8-3.jpg);
      }
      
      .bg-4 {
        background-image: url(../img/seminovos/v8/v8-4.jpg);
      }
      
      .bg-5 {
        background-image: url(../img/seminovos/v8/v8-5.jpg);
      }
      
      .bg-6 {
        background-image: url(../img/seminovos/v8/v8-6.jpg);
      }
      
      .bg-7 {
        background-image: url(../img/seminovos/v8/v8-7.jpg);
      }


      .gallery__prev,
      .gallery__next {
        position: absolute;
        top: 50%;
        z-index: 4;
        width: 50%;
        height: 100%;
        transform: translateX(-50%) translateY(-50%) scale(.8);
        cursor: pointer;
      }
      
      .gallery__prev {
        left: 0;
      }
      
      .gallery__next {
        left: 100%;
      }

      .gallery:before,
.gallery:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  z-index: 3;
}

.gallery:before {
  left: 0;
  background:  linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.gallery:after {
  right: 0;
  background:  linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}




    .min{
        width: 150px;
        padding: 10px;
    }

    .box_img{
        width: 1000px;
        margin: 150px auto;
    }

    .galeria{
        margin: 10px 50px;
    }

    .galeria img{
        width: 230px;
        padding: 5px;
        transition: 1s;
    }

    .galeria img:hover{
        filter: grayscale(0);
        transform: scale(1.1);
    }

    p{
        text-align: justify;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    button{
        position: absolute;
        top:5%;
        left:65%;
        width: 120px;
        height: 30px;
        cursor: pointer;
    }

    .botao{

        font-weight: bold;
        padding: 5px;
        float: left;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-bottom-style: solid;
        border-top-color: #005b7f;
        border-right-color: #005b7f;
        border-bottom-color: #005b7f;
        border-left-color: #005b7f;
        color: #005b7f;
        margin-left: 20px;
        border-radius: 10px 10px 10px 10px;
        font-size: 17px;
        
    }
    .botao:hover{
        
        color: white;
        background-color: #b11116;
        border-top-color: #b11116;
        border-right-color: #b11116;
        border-bottom-color: #b11116;
        border-left-color: #b11116;
               
    }

    .div_filial{
        width: 300px;
        height: 300px;
        text-align: justify;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .text_ident{
        text-indent: 3.5em;
    }

    video{
        width: 500px;
        height: 280px;
    }

    h1{
        
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 22px;
    }

    h3{
        
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    h4{
        
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .alinha_no_centro{
        text-align: center;
    }

    #menu {
        display: block;
        text-align: center;
    }
    
    #menu ul {
        padding: 0px;
        margin: 0px;
        background-color: #005b7f;
        list-style: none;
    }
    
    #menu ul li {
        font-size: 17px;
        display: inline;
        transition: background-color 1s;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    #menu ul li a {
        padding: 1px 40px;
        display: inline-block;

        /* visual do link */

        background-color: #005b7f;
        color: white;
        text-decoration: none;
        border-bottom: 20px solid #005b7f;
    }
    
    #menu li:hover a {
        color: #b11116;
        text-decoration: none;
    }
    
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: #FFFFFF;
        text-align: center;
        padding: 20px;
    }
    
    header h1 {
        margin-top: 80px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #005b7f;
    }

    footer {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: white;
        text-align: center;
        padding: 20px;
        
    }
    
    #logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }
    
    #logo div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 30px;
    }

    #empresa {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
      }
      
      #empresa div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        margin-top: 0px;
      }  

    @media screen and (min-width: 768px) {

        #logo {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            max-width: 1000px;
            margin: 0 auto;
        }
        #logo h2 {
            text-align: center;
            width: 100%;
        }
        #logo div {
            flex-grow: 1;
            flex-basis: 150px;
            padding: 0 10px;
        }

        #empresa {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            max-width: 1000px;
            margin: 0 auto;
          }
            
          #empresa div {
            flex-grow: 1;
            flex-basis: 150px;
            padding: 0 0px;
          }

    }
        